@import url(https://fonts.googleapis.com/css?family=Hind+Madurai:500|Nunito|Ubuntu:700);

.player-container {
        position: relative;
}
.player-data {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 15px 15px;
        margin-bottom: 10px;
}
.row {
        display: flex;
}
.player-data.name {
        margin-right: 10px;
        flex: 2;
};
.player-data.tag {
        flex: 1;
}
.player-data> { margin-bottom: 10px;
}
.player-data .game-buttons{ display: flex;
}
.player-data .game-buttons .play-button {
        background: #b1700f;
        cursor: pointer;
        outline: none;
        border: 0;
        padding: 5px;
        color: #dadada;
        box-shadow: 0 0 1px 1px #000;
        border-radius: 4px;
        font-size: 16px;
        text-shadow: 1px 1px 2px #000;
        flex: 9;
        margin-right: 7px;
}
.player-data .game-buttons .spectate-button {
        background: #b1700f;
        cursor: pointer;
        outline: none;
        border:0;
        padding:5px;
        color:#dadada;
        box-shadow:0 0 1px 1px #000;
        border-radius:4px;
        font-size:16px;
        text-shadow:1px 1px 2px #000;
        flex:1;
}
.tabs {
        display:flex;
        font-size:20px;
        border-bottom:2px solid #000;
}
.tab {
        flex: 1;
        cursor: pointer;
        text-align: center;
        width: 55px;
        padding: 9px;
}
.tab:hover {
        background: rgba(0, 0, 0, .15);
}
.tab:not(:last-child) {
        border-right: 2px solid #000;
}
.tab.active {
        background: rgba(0,0,0,.5);
        color: #e08e13;
}





.customization {
        overflow: auto;
}
.skins {
        grid-gap: 15px;
        box-sizing: border-box;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        min-width: 100%;
        padding: 16px;
}
.skin-container {
        display: flex;
        position: relative;
}
.skin {
        cursor: pointer;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 6px 2px #000;
        box-sizing: border-box;
        border: 1px solid transparent;
}
.skin-remove-button {
        display: none;
}
.skin-container:hover .skin-remove-button {
        display: inline;
        cursor: pointer;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 50%;
        font-size: 15px;
}
.skin.add-skin {
        background: radial-gradient(transparent, rgba(0, 0, 0, .54902));
}
.selected {
        box-shadow: 0 0 3px 1px orange;
}


.main-container {
        position: absolute;
        margin-left: -481px;
        margin-top: -240px;
        left: 50%;
        top: 38%;
        display: grid;
        grid-template-columns: 300px 330px 300px;
        grid-template-rows: 110px 146px 300px;
        grid-gap: 16px;
}


#canvas {
    width: 100%;
    height: 100%;
    outline: none;
}
* {
    font-family: 'Nunito', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fade-box {
    background: linear-gradient(to right bottom,#273b5e,#0f1724);
    border-radius: 4px;
}

